---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="How to install the modpack"
	description="It isn't too complicated! (Hopefully)"
	pubDate={new Date('July 01 2025')}
	heroImage="https://raw.githubusercontent.com/Wertredgreen/adventure-awaits-site/refs/heads/main/public/ModpackInstall.png"
>
	<p>
		In order to install the OPTIONAL modpack (I do really recommend it though!), you must be using <a href="https://prismlauncher.org/">Prism Launcher</a>.
	</p>
	<p>
		Once you have Prism Launcher installed and you have signed in with your Microsoft/Minecraft account, you must then either: 
	</p>
	<p>
		Download the <a href="http://pack.wertredgreen.com/pack">Adventure Awaits Pack</a>, then drag and drop the downloaded .mrpack file onto Prism Launcher.
	</p>
	<p>
		OR:
	</p>
	<p>
		Copy this <a href="http://pack.wertredgreen.com/pack">link</a> and paste it into the link area when creating a new instance.
	</p>
	<p>
		Again, if you have any questions, you know how to get in touch with me :) I am super excited to play Minecraft with you guys again!
	</p>

</Layout>
