---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello friends!</h1>
			<p>
				I have been missing a time when we all had a Minecraft server to play on...
			</p>
			<p>
				So I made a new one!
			</p>
			<p>IP: mc.wertredgreen.com</p>
			<ul>
				<li>Fully Vanilla Minecraft Compatible</li>
				<li>Has a <a href="/help">Custom Modpack</a> that isn't required, but highly encouraged!</li>
				<li>It adds Performance Mods, Veinminer, and Simple Voice Chat so we can talk to each other!</li>
			</ul>
			<p>
				Have fun! If you get stuck, remember I'm only a text or call away!
			</p>
			<h2>
				Adventure Reborn
			</h2>
		</main>
		<Footer />
	</body>
</html>
